.label {
  width: 100%;
  display: flex;
  gap: 0.3em;
  flex-direction: column;
}
.label span {
  font-size: 0.9em;
}
.label textarea {
  width: 100%;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #9B9B9B;
  border-radius: 0.3em;
  padding: 0.5em;
  resize: vertical;
}
.label textarea::placeholder {
  color: #9B9B9B;
}